.opening-hours,
.closing-hours {
  color: white;
  font-weight: bold;
  text-align: center;
}

.closing-hours {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.opening-hours {
  font-size: 2rem;
}

.auckland-council-banner {
  background-image: url(wcrc-header.svg);
  background-position: bottom;
  background-size: cover;
}
